<header>
  <nav class="navbar">
    <a href="/" class="logo-navbar">
      <img src="./assets/img/logo.png" alt="Logo Ruta de los Glaciares">
    </a>
    <div class="nav-links">
      <a href="#resumen-servicios">Servicios</a>
      <a href="#ventajas">Ventajas</a>
      <a href="#costos">Costos</a>
    </div>
  </nav>
</header>
