<header>
    <img src="/assets/img/logo.png" alt="Rutas De Los Glaciares Logo" class="logo">
    <h1>Rutas De Los Glaciares</h1>
    <p>Traslados y excursiones privadas en El Calafate y El Chaltén</p>
</header>
